* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 list-style-type: none;
 text-decoration: none !important;
 /* color: black !important; */
}
button {
 border: none;
}

a {
 color: black !important;
}

img {
 width: 100%;
 height: 300px;
 object-fit: contain;
 border-radius: 10px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 transition: transform 0.5s;
}
body {
 background-color: "#F7F7F7";
}

.active {
 color: blue !important;
}

.spinner {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
}

.hart-full-btn {
 color: red;
 fill: red;
 transition: all;
 transition-duration: 300ms;
 cursor: pointer;
}
.hart-full-btn:hover {
 transform: scale(1.2);
}
.hart-btn {
 color: red;

 transition: all;
 transition-duration: 300ms;
 cursor: pointer;
}
.hart-btn:hover {
 transform: scale(1.2);
}
